@model SBD_Project.Models.Uprawnienia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <h4>Uprawnienia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumerUprawnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerUprawnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kierowca.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kierowca.Nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
        </div>
    }
</div>
