@model SBD_Project.Models.Uprawnienia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Uprawnienia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumerUprawnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerUprawnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kierowca.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kierowca.Nazwisko)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
