@model IEnumerable<SBD_Project.Models.Cennik>

@{
    ViewBag.Title = "Cennik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cennik</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="font-size: 16px; text-align: justify;color: #7F7460">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MinWaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxWaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MinWaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxWaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
