<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SBD Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="logo">
                <a href=@Url.Action("Index","Home")>
                    <img src="~/IMG/logo.png" class="logo"/>
                </a>
               
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <img src="~/IMG/pb_logo.png" style="align-content: flex-start" height="100" />
                    </p>
                </div>
                <div class="col-md-6" style="font-size: 18px; color: #7F7460;text-align: justify">
                    <p>&copy; @DateTime.Now.Year - Projekt zrealizowany na zaliczenie przedmiotu Systemy Baz Danych, wykonany przez Marcin Kozikowski i Marcin Januszewski 2016r.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/IMG/mvc_logo.png" style="align-content: flex-end" height="100" />
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
