@model SBD_Project.Models.Odbior

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <h4>Odbior</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Imie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
