@model IEnumerable<SBD_Project.Models.Uzytkownik>

@{
    ViewBag.Title = "Użytkownik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Użytkownik</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="font-size: 16px; text-align: justify;color: #7F7460">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasło)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kierowca.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pracownik.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serwis.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hasło)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kierowca.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pracownik.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serwis.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
