@model SBD_Project.Models.Przewoz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4><p>Kierowca: @Html.DisplayFor(modelItem => Model.Kierowca.ImieNazwisko)</p>
    <p>Przewóz: @Html.DisplayFor(modelItem => Model.DataPrzewozu)</p>
    <p>Pojazd: @Html.DisplayFor(modelItem => Model.Samochod.MarkaModelNumerRej)</p></h4>
    <hr />
        <div class="panel-body">
            <table class="table" style="font-size: 16px; text-align: justify; color: #7F7460">
                <tr>
                    <th colspan="4" style="text-align: center">Paczka</th>
                    <th colspan="5" style="text-align: center">Dane adresowe</th>
                </tr>
                <tr>
                    <td>
                        Nazwa
                    </td>
                    <td>
                        Wartość
                    </td>
                    <td>
                        Waga
                    </td>
                    <td>
                        Uwagi
                    </td>
                    <td>
                        Kod pocztowy
                    </td>
                    <td>
                        Miasto
                    </td>
                    <td>
                        Ulica
                    </td>
                    <td>
                        Numer domu
                    </td>
                    <td>
                        Numer mieszkania
                    </td>
                </tr>
                @foreach (var paczka in Model.Paczka)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(path => paczka.Nazwa)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Wartosc)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Waga)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Uwagi)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Zlecenie.Odbior.Klient.KodPocztowy)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Zlecenie.Odbior.Klient.Miasto)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Zlecenie.Odbior.Klient.Ulica)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Zlecenie.Odbior.Klient.NumerDomu)
                        </td>

                        <td>
                            @Html.DisplayFor(path => paczka.Zlecenie.Odbior.Klient.KodPocztowy)
                        </td>
                    </tr>

                }
            </table>
        </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
